/**
 * Shlib - programming library
 *
 * @author      Yannick Gaultier
 * @copyright   (c) Yannick Gaultier 2015
 * @package     shlib
 * @license     http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @version     0.3.0.473
 * @date        2015-12-07
 */
/*! Copyright Weeblr llc @_YEAR_@ - Licence: http://www.gnu.org/copyleft/gpl.html GNU/GPL */
@import 'shared.less';

/** Colors variables */
@wbl-panel-background: #f5f5f5;

@wbl-btn-background: #dde3cc;
@wbl-btn-background-hover: #6e97cc;

@wbl-select-background: #dde3cc;
@wbl-select-drop-background: #dde3cc;
@wbl-select-drop-bottom-border: rgb(221, 227, 204);
@wbl-select-drop-bottom-border-transp: rgba(221, 227, 204, 0.8);
@wbl-select-drop-hover: #ffac2f;
@wbl-select-color: #555555;
@wbl-select-color-drop: #333333;

@wbl-btn-active-color: #ffffff;
@wbl-btn-background-success: #b4da97;
//@wbl-btn-background-success: #77ac57;
//@wbl-btn-background-success: #88ba64;
@wbl-btn-background-success-hover: #6e97cc;
@wbl-btn-background-success-active-hover: #6e97cc;
//@wbl-btn-background-danger: #b55b70;
@wbl-btn-background-danger: #ba657d;
@wbl-btn-background-danger-hover: #6e97cc;
@wbl-btn-background-danger-active-hover: #6e97cc;
@wbl-btn-background-important: #ffac2f;
@wbl-btn-background-important-hover: #6e97cc;
@wbl-btn-background-important-active-hover: #6e97cc;
@wbl-btn-primary-background: #327dcb;
@wbl-btn-primary-background-hover: #ffac2f;
@wbl-btn-link-color-hover: #555555;

@wbl-btn-toolbar-background: #dde3cc;
@wbl-btn-toolbar-color-hover: #ffffff;
@wbl-btn-toolbar-background-primary: #6e97cc;
@wbl-btn-toolbar-background-danger: #b55b70;
@wbl-btn-toolbar-background-important: #ffac2f;
@wbl-btn-toolbar-background-success: #6e97cc;
@wbl-btn-toolbar-background-hover: #ffac2f;
@wbl-btn-toolbar-background-danger-hover: #ffac2f;
@wbl-btn-toolbar-background-important-hover: #327dcb;

@wbl-menu-background-active: #b6be9c;
@wbl-menu-background-hover: #ffac2f;

@wbl-badge-background-success: #6e97cc;
@wbl-badge-background-hover: #ffac2f;
@wbl-badge-background-danger: #ffac2f;
@wbl-badge-background-danger-hover: #6e97cc;
@wbl-badge-background-important: #b55b70;

@wbl-nav-nav-pills-background-active: #6e97cc;

@wbl-alert-background-success: #87b763;
@wbl-alert-color-success: #ffffff;
@wbl-alert-color-success-link: #dddddd;
@wbl-alert-background-error: #b55b70;
@wbl-alert-color-error: #ffffff;

.wbl-theme-default {

  /** Buttons shapes and backgrounds **/
  & .btn {
    .wbl-fn-no-border();
    background: @wbl-btn-background;
  }

  & .btn:active, & .btn:focus,
  & .btn:active a, & .btn:focus a {
    background: @wbl-btn-background;
  }

  & .btn:hover, & .btn:hover a {
    background: @wbl-btn-background-hover;
    color: @wbl-btn-active-color;
    text-decoration: none;
  }

  & .btn:focus,
  & .btn:focus a {
    outline: none;
  }

  & .btn-success, & .btn-success.active {
    .wbl-fn-no-border();
    background: @wbl-btn-background-success;
  }

  & .btn-success:hover {
    .wbl-fn-no-border();
    background: @wbl-btn-background-success-hover;
  }

  & .btn-success.active:hover {
    .wbl-fn-no-border();
    background: @wbl-btn-background-success-active-hover;
  }

  & .btn-danger, & .btn-danger.active {
    .wbl-fn-no-border();
    background: @wbl-btn-background-danger;
  }

  & .btn-danger:hover {
    .wbl-fn-no-border();
    background: @wbl-btn-background-danger-hover;
  }

  & .btn-danger.active:hover {
    .wbl-fn-no-border();
    background: @wbl-btn-background-danger-active-hover;
  }

  & .btn-important, & .btn-important.active {
    .wbl-fn-no-border();
    color: @wbl-btn-active-color;
    background: @wbl-btn-background-important;
  }

  & .btn-important:hover {
    .wbl-fn-no-border();
    background: @wbl-btn-background-important-hover;
  }

  & .btn-important.active:hover {
    .wbl-fn-no-border();
    background: @wbl-btn-background-important-active-hover;
  }

  & .radio.btn-group > label:first-of-type {
    .wbl-fn-no-border(0.2em 0 0 0.2em);
  }

  & .btn-group > .btn:last-child {
    .wbl-fn-no-border(0 0.2em 0.2em 0);
  }

  & .btn-primary {
    .wbl-fn-no-border();
    background: @wbl-btn-primary-background;
  }

  & .btn-primary:hover {
    background: @wbl-btn-primary-background-hover;
  }

  & .btn.btn-link {
    background: inherit;
  }

  & .btn.btn-link:hover {
    color: inherit;
    background: @wbl-btn-background-hover;
    text-decoration: underline;
  }

  & .btn.btn-link:hover span {
    background: @wbl-btn-background-hover;
    color: inherit;
    text-decoration: none;
  }

  /** Buttons colors **/
  & .btn {
    text-shadow: none;
  }

  & .btn-primary.active {
    color: @wbl-btn-active-color;
  }

  /** Dropdowns **/
  & .chzn-container:active,
  & .chzn-container:focus {
    outline: 0;
  }

  & .chzn-container-single .chzn-single,
  & .chzn-container-single .chzn-drop,
  & .chzn-container-active .chzn-single {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: @wbl-select-background;
    color: @wbl-select-color;
    text-shadow: none;
  }

  & .chzn-container-active.chzn-with-drop .chzn-single {
    background: @wbl-select-background;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
  & .chzn-container-active.chzn-with-drop .chzn-drop {
    background: @wbl-select-drop-background;
    border-bottom: 1em solid @wbl-select-drop-bottom-border;
    border-bottom: 1em solid @wbl-select-drop-bottom-border-transp;
    background-clip: padding-box;
    border-radius: 0;
    color: #fff;
  }

  & .chzn-container-active.chzn-with-drop .chzn-drop ul {
    margin: 0 -1px 0 -1px;
    padding: 0;
    color: @wbl-select-color-drop;
  }

  & .chzn-container-active.chzn-with-drop .chzn-drop li:hover {
    background: @wbl-select-drop-hover;
  }

  /** Menu in sidebar **/

  & .sidebar-nav ul.nav.nav-list {
    padding: 0 1em 0 1em;
    background: @wbl-panel-background;
  }

  & .sidebar-nav .nav-list li {
    line-height: 1.5;
  }

  & .sidebar-nav .nav-list li a {
    padding: 0.35em 1em;
    margin-left: -1em;
    margin-right: -1em;
  }

  & .sidebar-nav .nav-list li.active a {
    background: @wbl-menu-background-active;
    margin-right: -1em;
    text-shadow: none;
  }

  & .sidebar-nav .nav-list li a:hover {
    background: @wbl-menu-background-hover;
    color: @wbl-btn-active-color;
    text-shadow: none;
  }

  /* Labels and badges */
  & .label, & .badge {
    .wbl-fn-no-border();
    padding: 0.5em 1em;
    text-shadow: none;
    cursor: default;
    font-size: 1em;
    font-weight: normal;
  }
  & .label-info, & .badge-info {
    background: @wbl-badge-background-success;
  }
  /* & .label-info:hover, & .badge-info:hover {
     background: @wbl-badge-background-hover;
   }
   */
  & .label-success, & .badge-success {
    background: @wbl-badge-background-success;
  }
  & .label-important, & .badge-important {
    background: @wbl-badge-background-important;
  }
  & .label-danger, & .badge-danger {
    background: @wbl-badge-background-danger;
  }
  /*& .label-danger:hover, & .badge-danger:hover {
    background: @wbl-badge-background-danger-hover;
  }
*/
  /** Tabs **/
  & .nav.nav-pills li.active a {
    .wbl-fn-no-border();
    background: @wbl-nav-nav-pills-background-active;
  }

  /** Forms **/
  & .form-horizontal .control-label {
    max-width: 200px;
    width: 200px;
  }

  & input[type="text"]:focus,
  & input[type="datetime"]:focus,
  & textarea:focus,
  & select:focus,
  & .chzn-container-active .chzn-choices {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /** Alerts **/
  & .alert, & .alert.alert-success {
    .wbl-fn-no-border();
    background: @wbl-alert-background-success;
    color: @wbl-alert-color-success;
    text-shadow: none;
  }
  & .alert a, & .alert.alert-success a {
    color: @wbl-alert-color-success;
    text-decoration: underline;
  }
  & .alert a:hover, & .alert.alert-success a:hover {
    color: @wbl-alert-color-success-link;
  }

  & .alert.alert-error {
    .wbl-fn-no-border();
    background: @wbl-alert-background-error;
    color: @wbl-alert-color-error;
    text-shadow: none;
  }
}

body.com_sh404sef .btn-wrapper {

  /** Buttons shapes and backgrounds **/
  & .btn {
    .wbl-fn-no-border();
    background: @wbl-btn-toolbar-background;
    padding: 0.5em 1em;
  }

  & .btn:focus {
    outline: none;
  }

  & .radio.btn-group > label:first-of-type,
  & .btn-group > .btn:last-child {
    .wbl-fn-no-border();
  }

  & .btn-primary {
    .wbl-fn-no-border();
    background: @wbl-btn-toolbar-background-primary;
  }

  & .btn-danger {
    .wbl-fn-no-border();
    background: @wbl-btn-toolbar-background-danger;
  }

  & .btn-success, & .btn-success.active {
    .wbl-fn-no-border();
    background: @wbl-btn-toolbar-background-success;
  }

  & .btn-important {
    .wbl-fn-no-border();
    background: @wbl-btn-toolbar-background-important;
  }

  & .btn:hover {
    .wbl-fn-no-border();
    background: @wbl-btn-background-danger-hover;
    color: @wbl-btn-toolbar-color-hover;
  }

  & .btn-primary:hover {
    background: @wbl-btn-toolbar-background-hover;
  }

  & .btn-success:hover {
    .wbl-fn-no-border();
    background: @wbl-btn-toolbar-background-hover;
  }

  & .btn-danger:hover {
    .wbl-fn-no-border();
    background: @wbl-btn-toolbar-background-danger-hover;
  }

  & .btn-important:hover {
    .wbl-fn-no-border();
    background: @wbl-btn-toolbar-background-important-hover;
  }

  /** Buttons colors **/
  & .btn {
    text-shadow: none;
  }

  & .btn-primary.active, & .btn-warning.active, & .btn-danger.active, & .btn-success.active, & .btn-info.active, & .btn-inverse.active {
    color: @wbl-btn-active-color;
  }
}
