@font-face {
    font-family:ClearSans;
    src: url("../fonts/ClearSans-Regular.woff");
    font-weight: 400;
}
@font-face{
	font-family:ClearSans;
	src:url("../fonts/ClearSans-Thin.woff");
	font-weight: 100;
}
@font-face{
	font-family:ClearSans;
	src:url("../fonts/ClearSans-Light.woff");
	font-weight: 300;
}
@font-face{
	font-family:ClearSans;
	src:url("../fonts/ClearSans-Medium.woff");
	font-weight: 500;
}
@font-face{
	font-family:ClearSans;
	src:url("../fonts/ClearSans-Bold.woff");
	font-weight: 700;
}
@font-face{
	font-family:CaviarDreams;
	src:url("../fonts/CaviarDreams_Bold.woff");
	font-weight: 700;
}
@font-face{
	font-family: OpenSans;
	src:url("../fonts/open_sans_regular.woff");
	font-weight: 400;
}
*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	margin: 0 ;
	min-width:1000px;
	position: relative;
	box-sizing:border-box;
/*    padding-left: 27px;
    padding-right: 27px;*/
}
a{
	text-decoration: none;
}
button{
	outline: none;
}
ul{
	list-style: none;
}
input{
	box-shadow: none;
	border: none;
	outline: none;
}
h1{
	font-family: ClearSans;
	color:  #1face9;
	font-size: 60px;
	font-weight: 300;
	line-height: 60px;
	text-align: center;
	display: block;
	background-color:  #ffffff;
	height: 69px;
}
h2{
	font-family: ClearSans;
	color:  #000000;
	font-size: 30px;
	font-weight: 500;
	line-height: 30px;
	text-align: center;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #E97A8E;
}
::-webkit-scrollbar-thumb {
  border: 2px solid white;
  border-radius: 10px;
  background-color: #b11a37;
  transition:0.3s;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #FFFFFF;
    border-color:#CDCDCD;
    transition:0.3s;
}
::-webkit-scrollbar-thumb:active {
  border-color: white;
  transition:0.3s;
}
::-webkit-scrollbar-thumb:horizontal {
  height: 12px;
}
.errorVal:after{
    background-color: red!important;
}
.errorValHeader{
    background-color: red!important;
}
.fixUiSlider{
    overflow: visible!important;
    height: 20px!important;
    margin-bottom: 22px!important;
}
.fixUiSlider>div{
    overflow: visible!important;
    margin: 0px!important;
}
/*-------------------------------PRELOADER-------------------------------------*/
#preloader{
	width: 100%;
	min-width: 1000px;
	background-color:rgba(0,0,0,0.9);
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 999999;
	display: block;
  	float: left;
  	opacity: 1;
  	transition:opacity 0.5s easy-out 0.3s;
  	-o-transition:opacity 0.5s easy-out 0.3s;
  	-ms-transition:opacity 0.5s easy-out 0.3s;
  	-moz-transition:opacity 0.5s easy-out 0.3s;
  	-webkit-transition:opacity 0.5s easy-out 0.3s;
  	height: 100%
}
#global{
    width: 70px;
    margin: auto;
    margin-top: 50px;
    position: absolute;
    cursor: pointer;
    height: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.mask{
  position:absolute;
  border-radius:2px;
  overflow:hidden;
   perspective: 1000;
  backface-visibility: hidden;
}

.plane{
  background:#ffffff;
  width:400%;
  height:100%;
  position:absolute;
  transform : translate3d(0px,0,0);
  -o-transform : translate3d(0px,0,0);
  -moz-transform : translate3d(0px,0,0);
  -ms-transform : translate3d(0px,0,0);
  -webkit-transform : translate3d(0px,0,0);
  /*transition: all 0.8s ease; */
  z-index:100;
  perspective: 1000;
  backface-visibility: hidden;
  
}
 
.animation{
  transition: all 0.3s ease;
}


 
#top .plane{
  z-index:2000;
  animation : trans1 1.3s ease-in infinite  0s backwards;
  -o-animation : trans1 1.3s ease-in infinite  0s backwards;
  -moz-animation : trans1 1.3s ease-in infinite  0s backwards;
  -ms-animation : trans1 1.3s ease-in infinite  0s backwards;
  -webkit-animation : trans1 1.3s ease-in infinite  0s backwards;
}
#middle .plane{
  transform : translate3d(0px,0,0);
  -o-transform : translate3d(0px,0,0);  
  -moz-transform : translate3d(0px,0,0);  
  -ms-transform : translate3d(0px,0,0);  
  -webkit-transform : translate3d(0px,0,0);    
  background : #bbbbbb;
  animation : trans2 1.3s linear infinite  0.3s  backwards;
  -o-animation : trans2 1.3s linear infinite  0.3s  backwards;
  -moz-animation : trans2 1.3s linear infinite  0.3s  backwards;
  -ms-animation : trans2 1.3s linear infinite  0.3s  backwards;
  -webkit-animation : trans2 1.3s linear infinite  0.3s  backwards;

}
#bottom .plane{
  z-index:2000;
  animation : trans3 1.3s ease-out infinite  0.7s backwards;
  -o-animation : trans3 1.3s ease-out infinite  0.7s backwards;
  -moz-animation : trans3 1.3s ease-out infinite  0.7s backwards;
  -ms-animation : trans3 1.3s ease-out infinite  0.7s backwards;
  -webkit-animation : trans3 1.3s ease-out infinite  0.7s backwards;
}



#top{
  width:53px;
  height:20px;
  left:20px;
  transform: skew(-15deg, 0);
  -o-transform: skew(-15deg, 0);
  -moz-transform: skew(-15deg, 0);
  -ms-transform: skew(-15deg, 0);
  -webkit-transform: skew(-15deg, 0);
  z-index:100;
}

#middle{
  width:33px;
  height:20px;
  left:20px;
  top:15px;  
  transform: skew(-15deg, 40deg);
  -o-transform: skew(-15deg, 40deg);
  -ms-transform: skew(-15deg, 40deg);
  -moz-transform: skew(-15deg, 40deg);
  -webkit-transform: skew(-15deg, 40deg);

}
#bottom{
  width:53px;
  height:20px;
  top:30px;  
  transform: skew(-15deg, 0);
  -o-transform: skew(-15deg, 0);
  -moz-transform: skew(-15deg, 0);
  -ms-transform: skew(-15deg, 0);
  -webkit-transform: skew(-15deg, 0);
}

#global p{
  color:#fff;
  position:absolute;
  left: -3px;
    top: 58px;
  font-family:Arial;
  text-align:center;
  font-size:10px;
}

@keyframes trans1{ 
  from { 
    transform : translate3d(53px,0,0);
  }
  to { 
    transform : translate3d(-250px,0,0);
  }
}
-webkit-@keyframes trans1{ 
  from { 
    -webkit-transform : translate3d(53px,0,0);
  }
  to { 
    -webkit-transform : translate3d(-250px,0,0);
  }
}

@keyframes trans2{ 
  from { 
    transform : translate3d(-160px,0,0);
  }
  to { 
    transform : translate3d(53px,0,0);
  }
}
-webkit-@keyframes trans2{ 
  from { 
    -webkit-transform : translate3d(-160px,0,0);
  }
  to { 
    -webkit-transform : translate3d(53px,0,0);
  }
}
@keyframes trans3{ 
  from { 
    transform : translate3d(53px,0,0);
  }
  to { 
    transform : translate3d(-220px,0,0);
  }
}
-webkit-@keyframes trans3{ 
  from { 
    -webkit-transform : translate3d(53px,0,0);
  }
  to { 
    -webkit-transform : translate3d(-220px,0,0);
  }
}
@keyframes animColor{ 
  from { 
    background : red;
  }
  25%{
    background : yellow;
  }
  50%{
    background : green;
  }
  75%{
    background : brown;
  }
  to { 
    background : blue;
  }
}
-webkit-@keyframes animColor{ 
  from { 
    background : red;
  }
  25%{
    background : yellow;
  }
  50%{
    background : green;
  }
  75%{
    background : brown;
  }
  to { 
    background : blue;
  }
}
.fixUiSlider{
	overflow: visible!important;
	height: 20px!important;
}
.fixUiSlider>div{
	overflow: visible!important;
}
/*--------------------------SLIDER-STYLE----------------------*/
.slick-prev{
	left: -40px!important;
	width: 29px!important;
	height: 29px!important;
}
.slick-prev:before{
	background-color:  #b11a37!important;
	width: 29px!important;
	height: 3px!important;
	opacity: 1!important;
	position: absolute;
	left: 0;
	top: 35%;
}
.slick-prev:after{
	background-color:  #b11a37;
	width: 29px;
	height: 3px;
	position: absolute;
	left: 0;
	top: 35%;
	content: "";
	display: block;
	transition:0.5s;
}
.slick-next:before{
	background-color:  #b11a37!important;
	width: 29px!important;
	height: 3px!important;
	opacity:1!important;
	position: absolute;
	left: 0;
	top: 35%;
}
.slick-next:after{
	background-color:  #b11a37;
	width: 29px;
	height: 3px;
	position: absolute;
	left: 0;
	top: 35%;
	content: "";
	display: block;
	transition:0.5s;
}
.slick-next:hover:after,.slick-prev:hover:after{
	transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transition:0.5s;
}
.slick-next{
	right: -40px!important;
	width: 29px!important;
	height: 29px!important;
}
.slick-prev:before,.slick-next:before{
	content:""!important;
}
/*-------------------------------parallax-------------------------*/
/*-------------------------------FIXED-BTN------------------------*/
#fixedBtn{
    width: 150px;
    height: 150px;
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 199;
    cursor: pointer;
    opacity: 0;
    transition:0.5s;
}
#fixedBtn:hover div:nth-of-type(2){
	background-color:#E97A8E;
	transition:0.4s; 
}
#fixedBtn:hover div:nth-of-type(1){
	-webkit-animation: fixedAnimatedHover 0.5s ease-in;
    -moz-animation: fixedAnimatedHover 0.5s ease-in;
    -ms-animation: fixedAnimatedHover 0.5s ease-in;
    -o-animation: fixedAnimatedHover 0.5s ease-in;
    animation: fixedAnimatedHover 0.5s ease-in;
    transition:0.7s;
}
.fixedBtnWrap{
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%) scale(0.8);
	-o-transform:translate(-50%,-50%) scale(0.8);
	-moz-transform:translate(-50%,-50%) scale(0.8);
	-ms-transform:translate(-50%,-50%) scale(0.8);
	-webkit-transform:translate(-50%,-50%) scale(0.8);
	border-radius: 50%;
	transition:0.7s;
	background: -webkit-radial-gradient(circle closest-side at 50%, #ffffff 65%, #b11a37 100%);
	background: -moz-radial-gradient(circle closest-side at 50%, #ffffff 65%, #b11a37 100%);
	background: -o-radial-gradient(circle closest-side at 50%, #ffffff 65%, #b11a37 100%);
	background: -ms-radial-gradient(circle closest-side at 50%, #ffffff 65%, #b11a37 100%);
	background: radial-gradient(circle closest-side at 50%, #ffffff 65%, #b11a37 100%);
	width: 144px;
	height: 144px;
	-webkit-animation: fixedAnimated 0.5s ease-in 1s infinite alternate;
    -moz-animation: fixedAnimated 0.5s ease-in 1s infinite alternate;
    -ms-animation: fixedAnimated 0.5s ease-in 1s infinite alternate;
    -o-animation: fixedAnimated 0.5s ease-in 1s infinite alternate;
    animation: fixedAnimated 0.5s ease-in 1s infinite alternate;
    opacity: 0.7;
}
#fixedBtn div:nth-of-type(2){
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	border-radius: 50%;
	background-color:  #b11a37;
    width: 84px;
    height: 84px;
	text-align: center;
	transition:0.4s;
}
#fixedBtn i{
	color:  #ffffff;
	font-size: 51px;
	font-weight: 400;
	line-height: 86px;
	text-align: center;
}
-webkit-@keyframes fixedAnimated{ 
  from {-webkit-transform :translate(-50%,-50%) scale(0.8);}
  to {-webkit-transform :translate(-50%,-50%) scale(0.9);}
}
@keyframes fixedAnimated{ 
  from {transform :translate(-50%,-50%) scale(0.8);}
  to {transform :translate(-50%,-50%) scale(0.9);}
}

-webkit-@keyframes fixedAnimatedHover{ 
  from {-webkit-transform :translate(-50%,-50%) scale(0.8);}
  to {-webkit-transform :translate(-50%,-50%) scale(0.3);}
}
@keyframes fixedAnimatedHover{ 
  from {transform :translate(-50%,-50%) scale(0.8);}
  to {transform :translate(-50%,-50%) scale(0.3);}
}
/*--------------------------------INPUT-STYLE---------------------------------*/
.inputStyle{
	width: 400px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	box-sizing:border-box;
	text-align: center;
}
.inputStyle input{
	width: 100%;
	height: 100%;
	font-family: ClearSans;
	color:  #000000;
	font-size: 30px;
	font-weight: 300;
	line-height: 30px;
	text-align: center;
	background-color: transparent;
	box-shadow: none;
	outline: none;
	border:none;
}
.inputStyle label{
	font-family: ClearSans;
	color:  #808080;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	text-align: center;
	pointer-events:none;
}
.inputStyle span:after{
	content: "";
	width: 100%;
	position: absolute;
	left: 0;
	bottom:0px;
	background-color:  #b11a37;
	height: 3px;
	transform:translateX(-100%);
	-o-transform:translateX(-100%);
	-moz-transform:translateX(-100%);
	-ms-transform:translateX(-100%);
	-webkit-transform:translateX(-100%);
	transition:0.5s;
}
.inputStyle span{
	width: 100%;
	position: absolute;
	left: 0;
	bottom:27px;
	background-color:black;
	height: 2px;
}
.inputStyle input:focus+span:after{
	transform:translateX(0%);
	-o-transform:translateX(0%);
	-moz-transform:translateX(0%);
	-ms-transform:translateX(0%);
	-webkit-transform:translateX(0%);
	transition:0.5s;	
}
.inputActive{
	transform:translateX(-50%);
	-o-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);	
}
.section7 p{
	font-family: ClearSans;
	color:  #000000;
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
}
/*---------------------------------parallax bg------------------*/
.parallaxBg{
	width: 100%;
	min-width: 1200px;
	position: fixed;
	height: 100%;
	background-image: url('../images/bgParallax.png');
	background-repeat: no-repeat;
	background-position: center;
	left: 0;
    top: 22%;
	z-index: -1;
}
/*--------------------------------HEADER----------------------------------------*/
header{
	width: 100%;
	min-width: 1200px;
	margin: 0;
	padding: 0;
	position: relative;
}
.headerUp{
	width: 100%;
	min-width: 1200px;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color:black; 
	height: 45px;
}
.headerUp>div{
	width: 1280px;
	margin: 0 auto;
	padding: 0;
	text-justify:newspaper;
	zoom:1;
	text-align: justify;
	line-height: 0;
	font-size: 0;
}
.headerUp>div:after{
	width: 100%;
	content: "";
	display: inline-block;
	overflow: hidden;
	height:0;
	visibility: hidden; 
}
.headerUp>div>div{
	display: inline-block;
	vertical-align: top;
}
.headerUpFirst p{
	font-family: ClearSans;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 500;
	text-align: left;
    line-height: 40px;
    letter-spacing: 0.2px;
}
.headerUpSecond>div,.headerUpSecond a{
	display: inline-block;
	vertical-align: top;
}
.btnHeader button{
	font-family: ClearSans;
	color:  #b3b3b3;
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	background-color: transparent;
	box-shadow: none;
	border:none;
	padding-top: 14px;
    padding-bottom: 13px;
    position: relative;
    overflow: hidden;
    transition:0.4s;
}
.btnHeader button:hover,.btnHeader button:hover i{
	color: white;
	transition:0.4s;
}
.btnHeader button:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	background-color:  #ffffff;
	height: 3px;
	transition:0.5s;
	transform:translateX(-101%);
	-o-transform:translateX(-101%);
	-moz-transform:translateX(-101%);
	-ms-transform:translateX(-101%);
	-webkit-transform:translateX(-101%);  
}
.btnHeader button:hover:after{
	transform:translateX(0%);
	-o-transform:translateX(0%);
	-webkit-transform:translateX(0%);
	-moz-transform:translateX(0%);
	-ms-transform:translateX(0%);
	transition:0.5s;
}
.btnHeader button i{
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color:  #b3b3b3;
	transition:0.4s;
}
.headerUpSecond a{
	font-family: ClearSans;
	color:  #999999;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	transition:0.4s;
    padding: 14px 5px 13px 5px;
    margin-right: 4px;
}
.headerUpSecond a:hover{
	color: white;
	transition:0.4s;
}
.headerUpSecond>div:nth-of-type(2){
	margin-right: 19px;
}
.headerUpSecond>div:nth-of-type(1){
	margin-right: 26px;
}
.animatedSpan{
	transform:translateX(0%)!important;
	-o-transform:translateX(0%)!important;
	-moz-transform:translateX(0%)!important;
	-ms-transform:translateX(0%)!important;
	-webkit-transform:translateX(0%)!important;
	transition:2s;
}
/*--------------------------------------------------*/
.headerMiddle{
	width: 100%;
	min-width: 1200px;
	margin:0;
	padding: 0;
	background-color: white;
	position: relative;
    z-index: 70;
}
.headerMiddle>div{
	width: 1280px;
	margin:0 auto;
    padding: 0 0 18px 0;
	text-justify:newspaper;
	zoom:1;
	text-align: justify;
	line-height: 0;
	font-size: 0;
}
.headerMiddle>div:after{
	width: 100%;
	content: "";
	display: inline-block;
	overflow: hidden;
	height:0;
}
.headerMiddle>div>div{
	display: inline-block;
	vertical-align: top;
}
.headerMiddleFirst>div,.headerMiddleFirst a,.headerMiddleImgWrap img,.headerMiddleFirst a i,.headerMiddleFirst a p{
	display: inline-block;
	vertical-align: top;
}
.headerMiddleFirst{
	padding-top: 16px;
}
.headerMiddleImgWrap img:nth-of-type(2){
/*	padding-top: 18px;*/
    /*padding-left: 20px;*/
}
.headerMiddleFirst>a{
	margin-left: 35px;
    margin-top: 12px;
}
.headerMiddleFirst a:hover i{
	color:#E97A8E;
	transition:0.3s; 
}
.headerMiddleSecond{
	margin-top: 30px;
}
.headerMiddleFirst>a p{
	padding-top: 14px;
    padding-left: 11px;
}
.headerMiddleFirst p{
	font-family: ClearSans;
	color:  #000000;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	line-height: 18px;
	text-transform: uppercase;
}
.headerMiddleFirst a i{
	color:  #b11a36;
	font-size: 48px;
	line-height: 48px;
	transition:0.3s;
}
.headerFormWrap{
/*	border-width: 3px;
	border-color:  #caefff;
	border-style: solid;
	background-color:  #ffffff;*/
	width: 319px;
	height: 46px;
	box-sizing:border-box;
	text-align: left;
	overflow: hidden;
	position: relative;
	transition:0.4s;margin-right: 30px;
	margin-right: 30px;
}
.headerFormWrap>span{
	position: absolute;
	background-color: #fbd1d9;
	z-index: 10;
}
.firstBorder{
	width: 0px;/*18*/
	height: 3px;
	right:306px;
	bottom: 0; 
	transition:0.1s linear;
}
.secondBorder{
	height: 0;
	width: 3px;
	left: 0;
	bottom: 0;
	transition:0.3s linear;
}
.thirdBorder{
	width: 0;
	height: 3px;
	left: 0;
	top: 0;
	transition:0.9s linear;
}
.fourthBorder{
	width: 3px;
	height: 0;
	top: 0;
	right: 0;
	transition:0.3s linear;
}
.fifthBorder{
	width: 0px;/*270px;*/
	height: 3px;
	right: 0;
	bottom: 0;
	transition:0.65s linear;
}
.headerFormWrap:hover{
	border-color:#1FACE9;
	transition:0.4s;
}
.headerFormWrap form{
	position: absolute;
	left: 0;
    top: 4px;
	width: 200%;
	transition:0.6s ease-out;
}
.headerFormWrap form div>i,.headerFormWrap form div>p{
	display: inline-block;
	vertical-align: top;
}
.headerFormWrap form>div{
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
.headerFormWrap:hover form{
	transform:translateX(-50%);
	-o-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	transition:0.6s ease-out;
}
.inputActive{
	transform:translateX(-50%);
	-o-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);	
}
.inFormInput{
	position: relative;
}
.headerSend{
	position: absolute;
    top: -3px;
	right: 0;
	height: 41px;
	width: 43px;
	background-color: transparent;
	border:none;
	outline: none;
	transition:0.3s;
	cursor: pointer;
}
.headerSend i{
  	font-size: 24px;
	color:  #b11a36;
  	line-height: 24px;
  	text-align: center;
  	transition:0.3s;
}
.headerSend:hover i{
	color: #E97A8E;
	transition:0.3s;
}
.inFormInput input{
	width: 100%;
	display: inline-block;
	border: none;
	height: 41px;
	padding-right:47px;
	padding-left:16px;
	box-sizing: border-box;
	font-family: ClearSans;
	color:  #000000;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	text-align: left;
	outline: none;
}
::-webkit-input-placeholder {color:rgb( 129, 129, 129 );}
::-moz-placeholder          {color:rgb( 129, 129, 129 );}/* Firefox 19+ */
:-moz-placeholder           {color:rgb( 129, 129, 129 );}/* Firefox 18- */
:-ms-input-placeholder      {color:rgb( 129, 129, 129 );}
::-webkit-input-placeholder {font-family: "ClearSans";}
::-moz-placeholder          {font-family: "ClearSans";}/* Firefox 19+ */
:-moz-placeholder           {font-family: "ClearSans";}/* Firefox 18- */
:-ms-input-placeholder      {font-family: "ClearSans";}
::-webkit-input-placeholder {font-size: 18px;}
::-moz-placeholder          {font-size: 18px;}/* Firefox 19+ */
:-moz-placeholder           {font-size: 18px;}/* Firefox 18- */
:-ms-input-placeholder      {font-size: 18px;}
::-webkit-input-placeholder {line-height: 25px;}
::-moz-placeholder          {line-height: 30px;}/* Firefox 19+ */
:-moz-placeholder           {line-height: 30px;}/* Firefox 18- */
:-ms-input-placeholder      {line-height: 25px;}

.headerFormWrap>div:nth-of-type(1){
	width: 313px;
	height:40px; 
}
.headerMiddleSecond>div{
	display: inline-block;
	vertical-align: top;
}
.headerFormWrap p{
    font-family: ClearSans;
    color:  #b11a37;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 18px;
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding-top: 10px;
}
.fa-percent{
	color:  #b11a36;
	font-size: 30px!important;
	font-weight: 400;
	text-align: left;
	line-height: 30px!important;
	padding-left: 14px;
    padding-top: 4px;
}
.basket{
	cursor: pointer;
}
.basket i{
	color:  #B11A36;
	font-size: 30px;
	display: inline-block;
	vertical-align: top;
	line-height: 30px;
	margin-top: 5px;
	transition:0.3s;
}
.basket:hover i{
	color:#E97A8E;
	transition:0.3s;
}
.basket p{
	font-family: ClearSans;
	color:  #000000;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	line-height: 18px;
	display: inline-block;
	vertical-align: top;
	padding-top: 13px;
    padding-left: 8px;
}
.headerUpFixed{
	height: 34px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
}
.headerUpFixed p{
	line-height: 29px!important;
}
.headerUpFixed .btnHeader button{
	padding-top: 8px!important;
    padding-bottom: 9px!important;
}
.headerUpFixed a{
	padding: 9px 5px 8px 5px!important;
}
.headerMiddleFixed{
	height: 53px;
	position: fixed;
	left: 0;
	top: 34px;
	z-index: 99;
	box-shadow: 0 0 8px 1px #858585;

}
.headerMiddleFixed .headerMiddleImgWrap img:nth-of-type(1){
	width: 46px;
	height: 44px;
	margin-top: 2px;
}
.headerMiddleFixed .headerMiddleImgWrap img:nth-of-type(2){
	display: none;
}
.headerMiddleFixed .headerMiddleFirst{
	padding-top: 2px;
}
.headerMiddleFixed .headerMiddleSecond{
	margin-top: 4px;
}
.headerMiddleFixed .headerMiddleFirst>a{
	margin-top: 0!important;
}
/*---------------------------------------------------*/
.btnStyle{
    font-family: ClearSans;
	color:  #b11a37;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    letter-spacing: 2px;
    padding: 8px 8px 8px 8px;
}
.btnStyle:before{
	width: 100%;
	transform:scale(0.95);
	-o-transform:scale(0.95);
	-moz-transform:scale(0.95);
	-ms-transform:scale(0.95);
	-webkit-transform:scale(0.95);
	content: "";
	background-color:  #b11a37;
	height: 3px;
	position: absolute;
	left:0;
	top:0;
	transition:0.3s;
}
.btnStyle:after{
	width: 100%;
	transform:scale(0.95);
	-o-transform:scale(0.95);
	-moz-transform:scale(0.95);
	-ms-transform:scale(0.95);
	-webkit-transform:scale(0.95);
	content: "";
	background-color:  #b11a37;
	height: 3px;
	position: absolute;
	left:0;
	top:0%;
	opacity: 0;
	transition:0.3s;
}
.btnStyle:hover:before{
	transform:scale(1.05);
	-o-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transition:0.3s;
}
.btnStyle:hover:after{
	transform:scale(1.05);
	-o-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	top: 100%;
	opacity: 1;
	transition:0.3s;
}
/*------------------------------------------------------------------*/
.headerDown{
	width: 100%;
	min-width: 1200px;
	margin:0 auto;
	padding: 0;
	background-image: url('../images/header/bgHeaderPart.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height: 567px;
	position: relative;
	overflow: hidden;
}
.headerDown>div{
    width: 1200px;
    margin: 0 auto;
    padding: 135px 0 0 0;
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    pointer-events: none;
}
.animHeader{
	position: absolute;

}
.headerDown>div>img{
	position: absolute;
	opacity: 0;
	transition:0.5s ease-out 0.3s;
    top: 0px;
    right: -35%;
    z-index: 10;
    pointer-events: none;
}
.headerDown h1{
    background-color: rgba(255,255,255,0.8);
    height: 63px;
    text-align: center;
    display: inline-block;
    font-family: ClearSans;
    color: #b11a37;
    font-size: 55px;
    font-weight: 300;
    line-height: 55px;
    text-transform: uppercase;
    padding: 2px 79px 2px 15px;
    text-align: center;
    margin-right: 121px;
    font-family: ClearSans;
    letter-spacing: -1.5px;
}
.hWrap{
    width: 1000px;
    margin-right: auto;
    padding: 0;
    text-align: right;
    pointer-events:none;
}
.headerDown h3{
    font-family: ClearSans;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 42px;
    text-transform: uppercase;
    pointer-events:none;
}
.headerDown h4{
	font-family: ClearSans;
	color:  #000000;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	line-height: 24px;
	text-transform: uppercase;
	position: relative;
	z-index: 11;
	pointer-events:none;
}
.headerDown h4:nth-of-type(1){
    padding-top: 94px;
}
.headerDown h4:nth-of-type(2){
	padding-top: 55px;
}
.headerDown p{
    font-family: ClearSans;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 12px;
    position: relative;
    z-index: 11;
    letter-spacing: 2px;
    pointer-events:none;
}
.headerDownWrapP{
	text-align: center;
}
.headerDownWrapP p{
	display: inline-block;
	vertical-align: top;
	pointer-events: none;

}
.headerDownWrapP p:nth-child(even){
	margin-left: 40px;
	margin-right: 40px;
}
.canvasAnimation{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
/*------------------------------H2-SPAN STYLE-----------------------------*/
.animationH2{
    width: 100%; 
    padding: 0;
    min-width: 1200px;
	position: relative;
	overflow: hidden;
}
.animationH2 span{
	position: absolute;
	width: 100%; 
	border-bottom:1px solid #b2b2b2;
	height: 1px; 
	transition:2s;
	display: block;
}
.animationH2 span:nth-of-type(1){
	top: 0;
	left: 0;
	transform:translateX(-100%);
	-o-transform:translateX(-100%);
	-ms-transform:translateX(-100%);
	-moz-transform:translateX(-100%);
	-webkit-transform:translateX(-100%);
}
.animationH2 span:nth-of-type(2){
	right: 0;
	bottom: 0px;
	transform:translateX(100%);
	-o-transform:translateX(100%);
	-moz-transform:translateX(100%);
	-ms-transform:translateX(100%);
	-webkit-transform:translateX(100%);
}
.animationH2 h2{
	font-family: ClearSans;
	color:  #000000;
	font-size: 30px;
	font-weight: 500;
    line-height: 52px;
	text-align: center;
	text-transform: uppercase;
}
/*--------------------------SECTION-1---------------------------------*/
.section1{
	width: 100%;
	min-width: 1200px;
	margin:0 auto;
	padding: 0;
	background-color: white;
}
.section1 div.animationH2{
    margin-top: 38px;	
}
.section1>div:nth-of-type(3),.section1>div:nth-of-type(1){
	width:1200px;
	margin:0 auto;
	padding: 0;
	text-align: center;
}
.section1>div h4{
	font-family: ClearSans;
	color:  #000000;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	text-align: center;
	padding-top: 8px;
}
.section1>div:nth-of-type(1) h4{
	padding-top: 41px;
    padding-bottom: 38px;
}
.section1 .sec1Clear{
	margin-bottom: 24px;
}
.section1 a:nth-of-type(2){
	font-family: ClearSans;
	color:  #7f7f7f;
	font-size: 20px;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
}

.sec1WrapDiv>div{
	display: inline-block;
	vertical-align: top;
	width: 300px;
	text-align: center;
}
.sec1WrapDiv{
    width: 1200px;
    margin: 77px auto 39px auto;
    padding: 0;
    text-align: justify;
    zoom: 1;
    text-justify: newspaper;
    font-size: 1px;
    line-height: 0;
}
.sec1WrapDiv:after{
	width: 100%;
	content: "";
	display: inline-block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.sec1WrapDiv>div p{
	font-family: ClearSans;
	color:  #000000;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	text-align: center;
	padding-top: 18px;
}
.sec1WrapDiv>div>div{
	width: 177px;
	height: 143px;
	position: relative;
	margin: 0 auto;
}
.sec1WrapDiv img{
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}
.section1 button{
    margin-top: 22px;
    margin-bottom: 25px;
}
.sec1WrapDiv .animated{
	opacity: 0;
}
.section1 h6{
	font-family: ClearSans;
	color:  #000000;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
}
/*--------------------------SECTION-2---------------------------------*/
.section2{
	width: 100%;
	min-width: 1200px;
	margin:0 auto;
	padding: 0 0 28px 0;
	overflow: hidden;
}
.section2>div:nth-of-type(1){
    margin-top: 82px;
}
.section2>div:nth-of-type(2){
    margin: 30px auto 0 auto;
	width: 100%;
	min-width: 1200px;
    padding: 61px 0 100px 0;
	text-align: center;
/*	background-image:url('../images/section2/sec2Bg.png');
	background-repeat:no-repeat;
	background-size: center; */ 
	background-color: #F8F8F8;
	position: relative;
}
.sec2WrapDiv{
    width: 754px;
    margin: 37px auto 0 auto;
	padding: 0 30px;
	text-align: justify;
	text-justify:newspaper;
	zoom:1;
	font-size: 1px;
	line-height: 0;
	box-sizing: border-box;
}
.sec2WrapDiv:after{
	width: 100%;
	content: "";
	display: inline-block;
	height: 0;
	visibility: hidden;
	overflow: hidden;
}
.sec2WrapDiv>div{
	display: inline-block;
	vertical-align: top;
}
.sec2WrapDiv>div>div{
	text-align: center;
}
.section2 p{
	font-family: ClearSans;
	color:  #000000;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	text-align: center;
}
.sec2WrapDiv>div>div:nth-of-type(1){
	margin-top: 8px;
}
.sec2WrapDiv .animated{
	opacity: 0;
}
.section2 button{
	margin-top: 14px;
}
/*-----------------------------SECTION-3----------------------------------*/
.section3{
	min-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0
}
.section3>div:nth-of-type(1){
	margin-top: 64px;
}
.section3>div:nth-of-type(2){
	width: 1280px;
	margin:0 auto;
    padding: 53px 0 45px 0;
	text-align: justify;
	text-justify:newspaper;
	zoom:1;
	font-size: 1;
	line-height: 0;
}
.section3>div:nth-of-type(2):after{
	width: 100%;
	content: "";
	display: inline-block;
	visibility: hidden;
	overflow: hidden;
	height: 0;
}
.section3>div>div{
	display: inline-block;
	vertical-align: top;
	width: 560px;	
}
.section3 p{
	font-family: ClearSans;
	color:  #000000;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
}

/*-----------------------------SECTION-4----------------------------------*/
.section4{
	width: 100%;
	min-width: 1200px;
	margin: 0 auto;
	padding: 0;
}
.section4>div:nth-of-type(1){
	width: 1200px;
	margin:0 auto;
	padding: 0;
	text-align: justify;
	text-justify:newspaper;
	zoom:1;
	font-size: 1px;
	line-height: 0; 
}
.section4>div:nth-of-type(1):after{
	width: 100%;
	display: inline-block;
	content: "";
	overflow: hidden;
	visibility: hidden;
	height: 0;
}
.section4>div:nth-of-type(1)>div{
	display: inline-block;
	vertical-align: top;
	width: 380px;
	margin-bottom: 40px;
}
.section4 h4{
	font-family: ClearSans;
	color:  #000000;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	text-align: center;
	padding-top: 18px;
}
.section4 p{
	font-family: ClearSans;
	color:  #000000;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	text-align: left;
	padding-top: 33px;
}
.imgWrapSec4{
	width: 142px;
	height: 148px;
	position: relative;
	margin:0 auto;
}
.imgWrapSec4>img{
	display: block;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}
.section4>div:nth-of-type(2){
	margin-top: 70px;
}
.section4 .animated,.section4 p,.section4 h4{
	opacity: 0;
}
.animatedFinal{
	opacity: 1!important;
	transition:0.3s;
}
/*-----------------------------SECTION-5----------------------------------*/
.section5{
	width: 100%;
	min-width: 1200px;
	margin: 29px auto 0 auto;
    padding: 40px 0 0 0;
	background-image: url('../images/section5/bgImage.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	z-index: 2;
}
.section5 .btnStyle{
	margin-top: 0;
}
.section5>div{
	width: 1440px;
	margin: 0 auto;
	padding: 0;
}
.allproduct h6{
    font-family: ClearSans;
    color: #d99171;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding-right: 6.3%;
    padding-top: 24px;
}
.slidesSec2-1{
	height: 493px!important;
	margin-bottom: 0!important;
	margin-top: 21px;
	position: relative;
}
.sliderSec2-1 .slick-prev,.sliderSec2-1 .slick-next{
	top: 32%!important;
}
.slidesSec2ImgWrap{
	background-color:  #ffffff;
	width: 300px;
	height: 300px;
	position: relative;
	margin: 0 auto;
}
.slidesSec2ImgWrap img{
	position: absolute;
	display: block;
	max-height: 100%;
	max-width: 100%;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}
.nameSec2Wrap{
	display: table;
	width: 300px;
	margin: 0 auto;
	height: 143px;
	opacity: 0;
	background-color: white;
	/*border-bottom: 3px solid #B11A37;*/
}
.nameSec2Wrap>div{
	width: 300px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.nameSec2Wrap p{
	font-family: ClearSans;
	color:  #000000;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
}
/*.sliderSec2-1{
	width: 1440px;
	margin:0 auto;
	padding:0;
}*/
.sec2Bottom{
	width: 300px;
/*	height: 50px;*/
	text-align: justify;
	text-justify:newspaper;
	zoom:1;
	font-size: 0;
	line-height: 0;
	margin:0 auto;
}
.activeGender:after,.activeGender:before{
	opacity: 0!important;
}
.sec2Bottom:after{
	width: 100%;
	display: inline-block;
	content: "";
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.sec2Bottom h5,.sec2Bottom div{
	display: inline-block;
	vertical-align: top;
}
.sec2Bottom h5 span{
	font-family: ClearSans;
	color:  #000000;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	text-align: center;
}
.sec2Bottom h5{
	text-align: left;
}
.sec2Bottom h5 i{
	color:  #000000;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
}
.buyInOneClick{
	width: 120px;
	box-sizing:border-box;
	border-right: 1px solid #BFBCBA;
	border-left: 1px solid #BFBCBA;
	height: 30px;
	text-align: center;
	margin-left: 5px;
    margin-right: 5px;
}
.buyInOneClick i{
	font-size: 24px;
  	color: #8d6dd5;
  	display: inline-block;
  	vertical-align: top;
  	line-height: 29px;
}
.buyInOneClick h6{
  font-size: 14px;
  font-family: "ClearSans";
  color: #8d6dd5;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 14px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}
.basketCatalog i{
	color:  #8d6dd5;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	line-height: 28px;
}
.slidesSec2-1 .btnStyle{
	opacity: 0;
	transition:0.4s;
	width: 300px;
    margin: 0 auto;
	padding: 6px 0px 3px 0px;
}
.slidesSec2-1:hover .nameSec2Wrap,.slidesSec2-1:hover .btnStyle{
	opacity: 1;
	transition:0.4s;
}
.genderWrap .btnStyle{
	box-sizing:border-box;
	padding:10px 8px 10px 8px;
	margin-left: 20px;
    margin-right: 20px;
}
.genderWrap .btnStyle:hover:after{
	top: 93%;
}
.section5 .btnStyle:after,.section3 .btnStyle:before{
	background-color: #B11A37;
}

/*--------------------------SECTION-6---------------------------------*/
.section6{
	width: 100%;
	min-width: 1200px;
	margin: 0 auto;
	padding: 0 0 0 0;
}
.section6>div:nth-of-type(1){
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.section6 p{
	font-family: ClearSans;
	color:  #000000;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	text-align: center;
	 padding-top: 19px;
}
.section6>div:nth-of-type(2){
	margin-top: 114px;
}
.section6>div:nth-of-type(3){
	width:100%;
	min-width: 1200px;
/*	background-image: url('../images/section6/sec6bg.jpg');
	background-position: center;
	background-repeat: no-repeat;*/
	margin: 23px auto 0 auto;
	background-color: #F4E6DB;
	padding: 0;
	position: relative;
}
.section6 form{
	width: 1200px;
	margin: 0 auto;
    padding: 94px 0 0 0;
	text-align: center;
}
.section6 form>div{
    width: 882px;
	margin: 0 auto;
	text-align: justify;
	text-justify:newspaper;
	zoom:1;
	font-size: 1px;
	line-height: 0;
}
.section6 form>div:after{
	width:100%;
	content: "";
	display: inline-block;
	visibility: hidden;
	overflow: hidden;
	height: 0;
}
.section6 form>div>div{
	display: inline-block;
	vertical-align: top;
}
.section6 button{
	margin-top: 30px;
}
.section6 h6{
	font-family: ClearSans;
	color:  #000000;
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	padding-top: 31px;
    padding-bottom: 54px
}
/*--------------------------SECTION-7---------------------------------*/
.section7{
	width: 100%;
	min-width: 1200px;
	margin:0 auto;
    padding: 0px 0 100px 0;
	text-align: center;
	background-color:  #f8f8f8;
	box-sizing:border-box;
	overflow: hidden;
}
.section7>div{
	width: 1200px;
	margin:0 auto;
	padding: 0;
	text-align: justify;
	text-justify:newspaper;
	zoom:1;
	font-size: 1px;
	line-height: 0;
}
.section7>div:after{
	width: 100%;
	content: "";
	display: inline-block;
	overflow: hidden;
	visibility: hidden;
}
.section7 a{
	display: inline-block;
	vertical-align: top;
	width: 290px;
	height: 290px;
	transition:0.4s;
	background-color: transparent;
	cursor: pointer;
}
.section7 a:hover{
	background-color:  #f9e7db; 
	transition:0.4s;
}
.sec7ImgWrap{
	width: 181px;
	height: 196px;
	position: relative;
	margin: 10px auto;
}
.sec7ImgWrap img{
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	max-height:100%;
	max-height: 100%;
	transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}
.section7 h5{
	font-family: ClearSans;
	color:  #000000;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
}
.section7>h5{
	padding-top: 80px;
    padding-bottom: 108px;
}
.section7 .animated{
	opacity: 0;
}
/*--------------------------SECTION-8---------------------------------*/
.section8{
	width: 100%;
	margin:0;
	padding: 0;
	min-width: 1200px;
}
.section8>div{
	width: 1280px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.slider-indicator{
	display: inline-block;
	margin: 0 auto;
}
.slider-indicator h2{
	font-family: ClearSans;
	width: 204px;
    display: block;
	color:  #010000;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 47px;
    padding-bottom: 12px;
}
.slider-indicator span{
	width: 0px;
	height: 2px; 
	background-color:  #b11a37;
	display: block;
	transition:0.5s;
}
.logoName p{
	font-family: ClearSans;
	color:  #000000;
	font-size: 16px;
	font-weight: 400;
    line-height: 25px;
	text-align: center;
	display: block;
	width: 100%;
}
.logoName{
	opacity: 0;
	transition:0.3s;
	background-color:  #f8f8f8;
    width: 260px;
    min-height: 30px;
	position: absolute;
	top: 0;
	left: 50%;
	transform:translateX(-50%);
	-o-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
}
.slidesSec8{
	cursor: pointer;
	position: relative;
	padding-top: 50px;
}
.sliderSec8 .slick-prev,.sliderSec8 .slick-next{
	top:63%!important;
}
.slidesSec8:hover .logoName{
	opacity: 1;
	transition:0.4s;
}
.slidesSec8:hover img{
	-webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    filter: none;
    transition:0.4s;
}
.logoWrapSec8{
	max-width: 115px;
	max-height: 115px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	display: table;
}
.logoWrapSec8>div{
	display: table-cell;
	vertical-align: middle;
	height: 115px;
}
.logoWrapSec8 img{
	max-width: 100%;
	max-height: 100%;
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    transition:0.4s;
}
.sliderSec8{
	margin:0 auto;
}
/*--------------------------SECTION-9---------------------------------*/
.section9{
	width: 100%;
	min-width: 1200px;
	margin:0 auto;
	background-color: white;
}
.contacts-box .section9>div.top-contacts-belt {
    margin: 26px auto 0 auto;
}

.section9>div.top-contacts-belt{
    max-width: 1280px;
    margin: 56px auto 0 auto;
    text-align: justify;
    font-size: 0;
    line-height: 0;
    text-justify:newspaper;
    zoom:1;
    text-align: center;
}
.section9>div.top-contacts-belt:after{
    width: 100%;
    display: inline-block;
    content: "";
    overflow: hidden;
    visibility: hidden;
    height: 0;
}
.section9>div.top-contacts-belt>div{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
    width: 397px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    height: 100%;
}
.section9>div.top-contacts-belt>div:nth-of-type(2){
    border-right: 1px solid #7F7F7F;
    border-left: 1px solid #7F7F7F;
}
.section9>div.top-contacts-belt>div p{
    font-family: ClearSans;
    color:  #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding-top: 14px;
    padding-left: 5px;
    padding-right: 5px;
}
.section9>div.top-contacts-belt>div a{
    font-family: ClearSans;
    color:  #B11A36;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    padding-top: 14px;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}
.section9>div.top-contacts-belt>div i{
    color:  #000000;
    font-size: 24px;
    text-align: center;
    display: block;
    line-height: 24px;
}
.section9>div.top-contacts-belt>div:nth-of-type(3) i{
    color:  #B11A36; 
}
#mapWrap{
    width: 100%;
    min-width: 1000px;
    margin: 20px auto 0 auto;
    height: 400px;
    background-color: red;	
}
/*--------------------------SECTION-10---------------------------------*/
.section10{
	width: 100%;
	min-width: 1000px;
	margin: 0 auto;
    padding: 0 0 0 0;
	background-color: white;
}
.section10>div{
	width: 1000px;
	margin: 0 auto;
    padding: 44px 0 0 0;
	text-align: center;
}
.section10 .btnStyle{
	margin-top: 0;
}
.section10 h3{
	font-family: ClearSans;
	color:  #010000;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	text-align: center;
	padding-top: 10px;
}
.section10 i{
	color:  #b11a37;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	transition:0.3s;
}
.linksWrap{
    margin-top: 48px;
    margin-bottom: 55px;
}
.section10 .btnStyle{
    margin-bottom: 11px;
	margin-top: 41px;
}
.section10 a{
	padding: 5px 7px;
}
.section10 a:hover i{
	transition:0.3s;
}
.section10 a:nth-of-type(1):hover i{
	color: #3A589E;
}
.section10 a:nth-of-type(2):hover i{
	color: #325C86;
}
.section10 a:nth-of-type(3):hover i{
	color: #00ACEE;
}
.section10 a:nth-of-type(4):hover i{
	color: #4B73A4;
}
.section10 a:nth-of-type(5):hover i{
	color: #F5821F;
}
.section10 a:nth-of-type(6):hover i{
	color: #CB2027;
}
.section10 a:nth-of-type(7):hover i{
	color: #0077B5;
}
/*--------------------------SECTION-11---------------------------------*/


/*--------------------------SECTION-12---------------------------------*/
/*--------------------------SECTION-13---------------------------------*/













/*--------------------------------SECTION-14-------------------------------------*/

/*--------------------------------SECTION-15-------------------------------------*/

/*--------------------------------FOOTER----------------------------------------*/
footer{
	width: 100%;
	min-width: 1000px;
	margin:0 auto;
	padding:0 0 0 0;
}
.footerUp{
	width: 100%;
	min-width: 1000px;
	background-color:#f8f8f8;; 
	margin:0 auto;
}
.footerUp>div{
	width: 1280px;
	margin: 0 auto;
	text-align: left;
	padding: 0;
}
.footerUp>div>a,.footerUp ul,.footerUp ul li{
	display: inline-block;
	vertical-align: top;
}
.footerUp>div>a{
	margin-top: 14px;
}
.footerUp ul{
	width: 76%;
	text-align: center;
}
.footerUp ul li{
    margin-right: 28px;
}
.footerUp ul li a{
	font-family: ClearSans;
	color:  #000000;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
	text-align: center;
	display: block;
	position: relative;
	overflow: hidden;
    padding-top: 25px;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footerUp ul li a:after{
	content: "";
	width: 100%;
	height: 3px;
	background-color:  #B11A37;
	display: block;
	position: absolute;
	left: 0;
	top:0;
	transition:0.5s;
	transform:translateX(-101%);
	-o-transform:translateX(-101%);
	-moz-transform:translateX(-101%);
	-ms-transform:translateX(-101%);
	-webkit-transform:translateX(-101%);
}
.footerUp ul li a:hover:after{
	transform:translateX(0%);
	-o-transform:translateX(0%);
	-moz-transform:translateX(0%);
	-ms-transform:translateX(0%);
	-webkit-transform:translateX(0%);
	transition:0.5s;
}
.footerDown{
    width: 100%;
    min-width: 1000px;
    margin: 0 auto;
    padding: 13px 0 15px 0;
    background-color: black;
    height: 100px;
    box-sizing: border-box;
}
.footerDown>div{
	width: 1280px;
	margin:0 auto;
	padding:0;
	text-align: justify;
	text-justify:newspaper;
	zoom:1;
	font-size: 0;
	line-height: 0;
}
.footerDown>div:after{
	width: 100%;
	display: inline-block;
	content: "";
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.footerDown>div>div{
	display: inline-block;
	vertical-align: top;
    margin-top: 19px;
}
/*.footerDown>div>div:nth-of-type(1){
	margin-top: 31px;
}*/
.footerDown>div>div:nth-of-type(2){
    margin-top: 13px;
}
.footerDown div div>p{
	font-family: OpenSans;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	line-height: 14px;
	padding-left: 10px;
    padding-top: 11px;
}
.footerDown div div span{
	font-family: OpenSans;
	color:  #ffffff;
	font-size: 36px;
	font-weight: 300;
	text-align: left;
	line-height: 36px;	
}
.footerDown a p{
	font-family: Arial;
	color:  #ffffff;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	text-align: right;
	padding-right: 12px;
    padding-top: 10px;	
}
.logoFooterLeft{
	display: block;
}

.footerDown div p,.footerDown span,.logoTut{
	display: inline-block;
	vertical-align: top;
}
.fancybox-close{
	right: 2px!important;
	top: 2px!important;
}
/*-------------------------------------------------------------------*/
#popUpCall{
	width: 960px;
	height: 620px;
	background-color: white;
	display: none;
}
#popUpCall .inputStyle span:after{
	background-color: #B11A37;
}
#popUpCall h2{
	font-family: ClearSans;
	color:  #000000;
	font-size: 30px;
	font-weight: 500;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 10%;
}
#popUpCall form{
	text-align: center;
}
#popUpCall form>div:nth-of-type(1){
    width: 854px;
    margin: 120px auto;
    padding: 0;
    text-align: justify;
    text-justify: newspaper;
    zoom: 1;
    font-size: 1px;
    line-height: 0;
}
#popUpCall form>div:nth-of-type(1):after{
	width: 100%;
	display: inline-block;
	content: "";
	overflow: hidden;
	visibility: hidden;
	height: 0;
}
#popUpCall .inputStyle{
	display: inline-block;
	vertical-align: top;
}
.closeFancy{
	position: relative;
	margin: 20px auto 0 auto;
	width: 20px;
	height: 20px;
	cursor: pointer;
	transition:2s;
}
.closeFancy:hover{
	transform:rotate(720deg);
	-moz-transform:rotate(720deg);
	-ms-transform:rotate(720deg);
	-webkit-transform:rotate(720deg);
	-o-transform:rotate(720deg);
	transition:4s;
}
.closeFancy span{
	display: absolute;
	width:20px;
	height: 2px;
	background-color: #B11A37;
	display: block;
	left: 0;
	top: 45%;
}
.closeFancy span:nth-of-type(1){
	position: absolute;
	transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
}
.closeFancy span:nth-of-type(2){
	position: absolute;
	transform:rotate(135deg);
	-o-transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
	-moz-transform:rotate(135deg);
}
.forNameForm{
	display: none;
}
.headerMiddleinner {
    background-color: #F8F8F8;
    width: 100% !important;
    font-size: 14px;
    padding-top: 18px !important;
    display: none;
    position: absolute;
    top: 93px;
    left: 0;
}

.headerMiddleFixed .headerMiddleinner {
    top: 53px;
}

.headerMiddleinner .content-container {
    display: block;
}

.headerMiddleinner .content-container .menu-list {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: normal;
    border-right: 1px solid #DDDDDD;
    margin-right: 30px;
    font-family: ClearSans;
}

.headerMiddleinner .content-container .menu-list li {
    max-width: 200px;
    text-transform: uppercase;
    font-weight: 700;
    padding-right: 30px;
    line-height: 2;
    padding-left: 15px;
    color: #000;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;


}

.headerMiddleinner .content-container .menu-list li a {
    color: inherit;
}


.headerMiddleinner .content-container .menu-list li:hover,.headerMiddleinner .content-container .menu-list li.active {
    color: #B11A37;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
}

.headerMiddleinner .content-container .path-list {
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    line-height: normal;
    font-family: ClearSans;
}

.headerMiddleinner .content-container .path-list li {
    display: inline-block;
    width: 170px;
    vertical-align: top;
    height: 170px;
    color: #000;
    box-sizing: border-box;
    text-align: center;
    margin-right: 20px;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;

}

.headerMiddleinner .content-container .path-list li:hover,.headerMiddleinner .content-container .path-list li.active {
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    background-color: #F2F2F2;
    color: #B11A37;
}

.headerMiddleinner .content-container .path-list li:hover img,.headerMiddleinner .content-container .path-list li.active img{
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    background-color: #F2F2F2;
    opacity: 0.7;
}

.headerMiddleinner .content-container .path-list li a {
    color: inherit;
    width: 100%;
    height: 100%;
    display: block;
    padding: 1px;
    box-sizing: border-box;
}

.headerMiddleinner .content-container .path-list li:last-child {
    margin-right: 0;
}

.headerMiddleinner .content-container .path-list li img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0.3;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    width: 87px;
    height: 80px;
}

.headerMiddleinner .content-container .path-list li span {
    text-transform: uppercase;
    color: inherit;
    font-weight: 700;
}
.content-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
/*.headerMiddleinner .content-container .path-list li:nth-child(1) img {
    margin-bottom: 20px;
} 
.headerMiddleinner .content-container .path-list li:nth-child(2) img {
    margin-bottom: 22px;
} 
.headerMiddleinner .content-container .path-list li:nth-child(3) img {
    margin-bottom: 13px;
} 
.headerMiddleinner .content-container .path-list li:nth-child(4) img {
    margin-bottom: 37px;
}*/
/*----------------------стилизация всплывашки----------------------*/ 
#productPopUp{
	background-color:  #ffffff;
	width: 960px;
	height: 560px;
	margin: 0 auto;
	background-color: white;
	display: none;
}
#productPopUp h2{
	font-family: ClearSans;
	color:  rgba(0, 0, 0, 0.9);
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 20px;
	padding-top: 40px;
}
#productPopUp .closeFancy{
	margin-top: 25px;
}
.productPopUpInput{
    width: 500px;
    margin: 40px auto 0 auto;
	text-align: justify;
	text-justify:newspaper;
	zoom:1;
	line-height: 0;
	font-size: 1px;
}
.productPopUpInput:after{
	width: 100%;
	display: inline-block;
	content: "";
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.productPopUpInput>div,.productPopUpInput>ul{
	display: inline-block;
	vertical-align: top;
}
.productPopUpInput>div{
	position: relative;
	width: 150px;
	height: 154px;
}
#productPopUp form{
	text-align: center;
}
#productPopUp .btnStyle{
	margin-top: 20px;
}
#productPopUp form>div:nth-of-type(2){
	text-align: center;
}
#productPopUp form>div:nth-of-type(2)>div:nth-of-type(1){
    margin-right: 34px;
}
.productPopUpInput div img{
	max-height: 100%;
	max-width:100%;
	display: block;
	position: absolute;
	left:50%;
	top: 50%;
	transform:translate(-50%,-50%); 
	-o-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}
.productPopUpInput ul li{
	margin:0 0 10px 0;
	max-width: 280px;
}
.productPopUpInput ul{
    height: 200px;
    overflow: hidden;	
}

.productPopUpInput ul li{
	font-family: ClearSans;
	color:  rgba(0, 0, 0, 0.9);
	font-size: 16px;
	font-weight: 300;
	line-height: 18px;
	text-align: left;
}
.productPopUpInput ul li i{
	color:  #B11A37;
	font-size: 18px;
	line-height: 18px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	margin-top: 2px;
    margin-right: 12px;
} 
.popupoverlay {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
}

.autentification-popup ,.commonpopup {
    width: 960px;
    height: 590px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -295px;
    margin-left: -480px;
    z-index: 100;
    font-family: ClearSans;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 58px;
    display: none;
    box-sizing: border-box;
}
#imagePopUp{
	display: none;
}
.addInBasketWrap{
    width: 92%;
    margin: 0 auto;
    padding: 0;
    text-align: justify;
    text-justify:newspaper;
    zoom:1;
    line-height: 0;
    font-size: 1;
}
.addInBasketWrap:after{
    width: 100%;
    display: inline-block;
    content: "";
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.addInBasketWrap .btnStyle{
    display: inline-block;
    vertical-align: top;
}
.addInBasketWrap button{
    color: #B4B4B4;
}
.addInBasketWrap button i{
    padding-right: 10px;
}
.addInBasketWrap a i{
    padding-left: 10px;
}
.addedInBasket>div:nth-of-type(1){
    display:table;
    width: 500px;
    margin: 0 auto;
    height: 459px;
}
.addedInBasket>div:nth-of-type(1)>div{
    display: table-cell;
    vertical-align: middle;
}
.addedInBasket h2{
    font-size: 30px;
    font-family: "ClearSans";
    color: rgb( 0, 0, 0 );
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.4px;
}
.addedInBasket a{
    color: #35B4EB;
}
.commonpopup {
    padding-top: 0;
    padding-bottom: 0;
}

.autentification-popup table {
    width: 100%;
    height: 400px;
    vertical-align: middle;
}

.autentification-popup table tr td {
    /*    width: 100%;
        height: 100%;
        padding-top: 60px;
        padding-bottom: 70px;*/
}
.hide-radio {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hide-radio input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.autentification-tab-item>li {
    max-height: 440px;
   /* overflow-y: auto;*/
    overflow: hidden;

}

.autentification-tab>li{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 6px;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;

}

.autentification-tab-item>li:not(.active) {
    display: none;
}

.autentification-tab>li:hover ,.autentification-tab>li.active {
    background-color: #1FACE9;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    color: #fff;
}

.autentification-tab>li span {
    margin-right: 12px;
}

.autentification-tab>li:after {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background-color: #1FACE9;
    width: 100%;
    content: "";
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
}
.autentification-tab>li:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background-color: #1FACE9;
    width: 100%;
    content: "";
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;

}

.autentification-tab>li:hover:after,.autentification-tab>li.active:after {
    top: 32px;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    /*opacity: 1;*/
}
.form-item {
    display:block;
    vertical-align: middle;
    width: 399px;
    margin-left: auto;
    margin-right: auto;
    position:  relative;
    margin-top: 20px;

}

/*.form-item:after {
    max-width: 200px;
    position: absolute;
    top: -30px;
    background-color: #f6f6f6;
    font-size: 14px;
    padding: 10px;
    text-align: left;
    left: 50%;
    transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    color: #818181;
    display: none;
    content: attr(data-hint);
}

.form-item:hover:after {
    display: block;
}*/


.form-item label {
    width: 100%;
    text-align: center;
    color: #9E9E9E;
    font-weight: 300;
}


.form-item input[type="text"], .form-item input[type="password"] {
    width: 100%;
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
    line-height: 28px;
    font-size: 20px;
    background: none;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
}

.form-item input[type="text"]:focus, .form-item input[type="password"]:focus {    
    border-bottom: 2px solid #1FACE9; 
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
}

.autentification-popup .password-block {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #B3B3B3;
    margin-top: 40px;
}

.check-block {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #B3B3B3;
    margin-top: 28px;
}

a.remem {
    display: inline-block;
    vertical-align: middle;
    margin-top: 28px;
    font-size: 18px;
    color: #1FACE9;
    margin-left: 107px;
}

.check-block .check-wrapp {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;

}

.check-block .check-wrapp label {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #B3B3B3;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    display: inline-block;
    color: #B3B3B3;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    text-align: center;
    line-height: 24px;
    font-size: 0;
}

.check-block .check-wrapp label:before {
    top: -3px;
    position: relative;
}

.check-block .check-wrapp input:checked + label {
    font-size:16px;
    transition: 0.2s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
}
.check-block .check-wrapp input:hover + label {
    color: #fff;
    background-color: #1FACE9;
    border: 2px solid #1FACE9;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
}

.check-block .check-wrapp input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.autentification-popup button, .commonpopup button:not(.addedInBasketStyle), .contacts-box button {
    background: none;
    /*    width:73px;*/
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    box-shadow: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #7F7F7F;
    font-size: 20px;
    font-weight: 700;
}

.commonpopup button:not(.addedInBasketStyle), .contacts-box button {
    margin-top: 15px;
    color: #1FACE9;
}

.error-form-place {
    padding: 20px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 9px;
    color: red;
    border: 2px solid red;
    background-color: #fff;
    display: inline-block;
    font-size: 18px;
    box-sizing: border-box;
}

.dhint {
    position: relative;
}
.dhint:after {
    padding: 15px;
    width: 294px;
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    content: attr(data-hint);
    display: none;
    background-color: #F6F6F6;
    color: #818181;
    font-size: 14px;
    text-align: left;
}

.dhint:hover:after {
    display: block;
}


.autentification-popup button:before, .commonpopup button:before:not(.addedInBasketStyle), .contacts-box button:before {
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    content: '';
    background-color: #1FACE9;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
}
.autentification-popup button:after, .commonpopup button:after:not(.addedInBasketStyle), .contacts-box button:after  {
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    opacity: 0;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    content: '';
    background-color: #1FACE9;
}

.autentification-popup button:hover:after , .commonpopup button:hover:after:not(.addedInBasketStyle) , .contacts-box button:hover:after {
    top: 37px;
    width: 120%;
    opacity: 1;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
}
.autentification-popup button:hover:before, .commonpopup button:hover:before:not(.addedInBasketStyle) , .contacts-box button:hover:before {

    width: 120%;

    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
}

.merchendise-count {
    text-align: left;
}
.merchendise-count .number {
    width: 35px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    padding-top: 4px;
    background: none;
}

.merchendise-count .plus ,.merchendise-count .minus {
    color: #B2B2B2;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.close-popup {
    position: absolute;
    left: 50%;
    bottom:50px;
    /*font-size: 60px;*/
    transform:translate(-50%,0) rotate(-45deg);
    -moz-transform:translate(-50%,0) rotate(-45deg);
    -webkit-transform:translate(-50%,0) rotate(-45deg);
    -o-transform:translate(-50%,0) rotate(-45deg);
    -ms-transform:translate(-50%,0) rotate(-45deg);
    color: #1FACE9;
    font-weight: 100;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    background-image: url(../images/close.png);
    width: 24px;
    height: 24px;
    z-index: 2;
    cursor: pointer;
}

.close-popup:hover {
    transform:translate(-50%,0) rotate(-405deg);
    -moz-transform:translate(-50%,0) rotate(-405deg);
    -webkit-transform:translate(-50%,0) rotate(-405deg);
    -o-transform:translate(-50%,0) rotate(-405deg);
    -ms-transform:translate(-50%,0) rotate(-405deg);
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
}

fieldset {
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
    margin-right: 6px;
    border: none;
    outline: none;
}

.capcha-block {
    width: 390px;
    height: 97px;
}

.check-container {
    width: 362px;
    box-sizing: border-box;
    padding-left: 49px;
    text-align: left;
}

.capcha-check-container {
    background-color: #F6F6F6;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 34px;
}
.capcha-check-container fieldset {
    vertical-align: middle;
}

.capcha-check-container .check-block  {
    font-size: 16px;
    font-weight: 300;
}

.capcha-check-container .check-block a {
    margin-left: 36px;
    color: #1FACE9;
}

.register-item li {
    position: relative;
}

.register-item li:not(.active) {
    display: none;
}

.register-type {
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

.register-type li {
    display: inline-block;
    margin-left: 13px;
    margin-right: 13px;
    cursor: pointer;
    position: relative;

}

.register-type li:before {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 11px;
    border: 2px solid #1FACE9;
    border-radius: 50%;
    content: '';
    margin-right: 10px;
    transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
}

.register-type li.active:before {
    background-color: #1FACE9;
    transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
} 

#by_inclick h2 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}

#by_inclick table {
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

}

#by_inclick {
    height: 590px;
}

#by_inclick table  td {
    vertical-align: top;    
}

#by_inclick table  td .img-cont {
    text-align: center;
    display: block;
}

#by_inclick table  td img {
    max-width: 150px;
    max-height: 150px;


}

#by_inclick table  td a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    font-size: inherit;
}

#by_inclick table tr:nth-child(1) td:nth-child(1) {
    padding-right: 42px;
}


#by_inclick table td:nth-child(1),#by_inclick table tr:nth-child(1) td:nth-child(2) {
    font-size: 14px;
    color: #808080;
    padding-right: 42px;
}

#by_inclick table tr:nth-child(1) td:nth-child(3) {
    font-weight: 300;
    font-size: 18px;
}

#by_inclick table tr:not(:nth-child(1)) td:nth-child(2) {
    font-size: 18px;
    font-weight: 700;
}

#by_inclick .merchendise-count {}

#by_inclick .inclick-top-belt {
    padding-bottom: 33px;
    height: 324px;
    box-sizing: border-box;
    padding-top: 67px;
}


#by_inclick .inclick-bottom-belt {
    padding-bottom: 33px;
    height: 266px;
    background-color: #F8F8F8;
    box-sizing: border-box;
    padding-top: 45px;
}

#inclick-confirmation {
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    height: 100%;
    width: 100%;
}

#inclick-confirmation table {
    width: 100%;
    height: 100%;
}

#inclick-confirmation h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 15px;
}
#inclick-confirmation h3 {    
    font-size: 20px;
    font-weight: 300;
}

#alert {   
    height: 100%;
    width: 100%;
}

#alert table {
    width: 100%;
    height: 100%;
}

#alert table td {
    padding: 20px;
}

#alert h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: normal;
}
#alert h3 {    
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
}
#alert p {    
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
}


#alert a {
    font-size: inherit;
    color: #1FACE9;
    line-height: normal;
}


#subscribeaction:before, #subscribenews:before {
    position: absolute;
    top: -35px;
    left: 80px;
    content: attr(data-text);
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
}

#subscribeaction:after, #subscribenews:after {
    width: 236px;
    height: 78px;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: -40px;
    left: 342px;
    content: "";
}
#thanksPopUp{
    transition: 0.3s
}
/*-------------------------------MEDIA-------------------------------*/
@media screen and (max-width: 1560px){
	.section11>div:nth-of-type(2){
		width: 1100px;
	}
	.sliderSec2-1 .slick-prev,.sliderSec5 .slick-prev{
		left: 0!important;
	}
	.sliderSec2-1 .slick-next,.sliderSec5 .slick-next{
		right: 0!important;
	}
	.section9 form>div{
		width: 1000px;
	}
	.section9 form>div>div{
		text-align: center;
	}
	.catalogSec2{
		width: 1100px;
		left: 49px
	}	
}
@media screen and (max-width: 1460px){
	.headerUp>div,.headerMiddle>div,.sec3Wrap{
		width: 100%;
		min-width: 1000px;
		box-sizing:border-box;
		padding-left: 15px!important;
		padding-right: 15px!important;
	}
	.sliderSec10{
		width:304px!important;
	}
}
@media screen and (max-width: 1460px){
	.section13>div:nth-of-type(2){
		width: 1000px;
	}
	.sliderSec13{
		width: 640px;
		margin:0 auto;
	}
}
@media screen and (max-width: 1360px){
	.sec4InLineWrap,.section5>div:nth-of-type(2),.section6>div:nth-of-type(2),.section3>div:nth-of-type(2),.section8>div,.section9>div:nth-of-type(2){
		width: 1200px;
	}
	.sec1WrapDiv>div{
		width: 295px;
	}
	.section9>div:nth-of-type(2)>div{
		letter-spacing: -1.2px;
	}
	.section8>div{
		margin:0 auto;
	}
	.section3>div:nth-of-type(2){
		text-align: center;
	}
	.sec11WrapTop>div:nth-of-type(3) {
    	width: 512px;
	}
	.sec11WrapTop>div:nth-of-type(1) {
    	width: 370px;
	}
	.sec6Wrap,.sliderSec8,.section9>div,.section14>div:nth-of-type(2),.footerUp>div,.footerDown>div,.section5>div{
		width: 1000px;
	}
	.section7>div:nth-of-type(2){
		width: 1000px;
	}
	.sec10Wrap{
		width: 929px;
	}
	.sec6AnimWrap,.sec7Wrap,.sec11WrapTop,.sec11WrapBottom{
		text-align: center!important;
	}
	.sec6AnimWrap:after,.sec7Wrap:after,.sec11WrapTop:after,.sec11WrapBottom:after,.section12>div:after,.sec10Wrap:after{
		display: none;
	}
	.sec6Anim2-1{
		margin-left: 82px;
	}
	.sec7Anim1{
		margin-bottom: 20px;
	}
	.sec11WrapBottom{
		width: 1200px;
	}
	.sec11WrapTop>div:nth-of-type(4){
		display: none;
	}
	.sec11WrapBottom>div{
		display: block;
	}
	.sec11WrapBottom .borderForm{
		display: none;
	}
	.sec11WrapBottom .btnStyle{
    	display: block;
    	margin: 34px auto 0 auto;
	}
	.sliderSec12{
		margin-left: 0;
	}
	.afterCos{
		margin-right: 0;
		margin-left: 64px;
	}
	.footerUp ul{
		width: 69%;
	}
	.section14>div:nth-of-type(2)>div{
		width: 325px;
	}
	.section6 .animated{
		margin:20px 0;
	}
	.sec6WrapDiv{
		text-align: center;
	}
}

@media screen and (max-width: 1120px){
	.headerMiddleImgWrap a img:nth-of-type(2){
		display: none;
	}	
}
